<%= form_for(@missionmaker) do |f| %>
  <% if @missionmaker.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@missionmaker.errors.count, "error") %> prohibited this missionmaker from being saved:</h2>

      <ul>
      <% @missionmaker.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :tools %><br />
    <%= f.text_field :tools %>
  </div>
  <div class="field">
    <%= f.label :element %><br />
    <%= f.text_field :element %>
  </div>
  <div class="field">
    <%= f.label :participation %><br />
    <%= f.text_field :participation %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
