<p id="notice"><%= notice %></p>

<p>
  <b>Sponsor:</b>
  <%= @missionmaker.sponsor %>
</p>

<p>
  <b>Name:</b>
  <%= @missionmaker.name %>
</p>

<p>
  <b>Description:</b>
  <%= @missionmaker.description %>
</p>

<p>
  <b>Tools:</b>
  <%= @missionmaker.tools %>
</p>

<p>
  <b>Urban Category:</b>
  <%= @missionmaker.element %>
</p>

<p>
  <b>When is your mission complete:</b>
  <%= @missionmaker.participation %>
</p>


<%= link_to 'Edit', edit_missionmaker_path(@missionmaker) %> |
<%= link_to 'Back', missionmakers_path %>
